*{
    padding: 0;
    margin: 0;
    
}

/*header*/

#logo{
    width: 6%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
   }

   a{
    color: #19A6E4;
   }

   .descrizione{
    
    color: #797979;
   }

  
   /*fine header*/

   /*modifica immagini*/
 
   figure{
        margin-left: 10px;
        margin-top: 20px;
        
   }

   /*section modifiche*/   
   .paragrafo{
    margin-left: 10px;
    margin-top: 20px;
    
   }

   ul{
    margin-left: 15px;
    margin-top: 30px;
   }
   /*fine section modifiche*/

   /*Inizio tabella*/
   section{
    margin-left: 10px;
    margin-top: 30px;
   }


   .colonna{
    width: 25%;
    background-color: #20A9E5;
    color: white;
   }

   .colore{
    background-color: #B1E5F2;
   }

   /*fine tabella*/